:root {
    /* Color styles */
    --base-fond: rgba(255, 247, 229, 1);
    --clair-beige: rgba(255, 242, 213, 1);
    --clair-peau: rgba(250, 229, 174, 1);
    --clair-cacao: rgba(220, 185, 131, 1);
    --clair-chocolat: rgba(187, 143, 98, 1);
    --foncé-marron: rgba(84, 55, 41, 1);
    --foncé-marron2: rgba(52, 33, 26, 1);

    /* Text-size styles */
    
    --line-size:1.188rem;
    --bigline-size:4.188rem;
    --normal-size:1.563rem;
    --big-size:1.875rem;



    /* Font-family styles */
    --font-cinzel: 'Cinzel Decorative';
    --font-zenold: 'Zen Old Mincho', serif;
    --font-ptserif: 'PT Serif Caption', serif;

    /* Espaces */
    --spacearticle: 4.5vh;
  }