.galerie__titre{
    font-family: var(--font-cinzel);
    font-size: var(--big-size);
    line-height: 4.188rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 8vh;
}

.galerie__personne{
    border-width:2px;
    border-style:solid;
    border-color:var(--foncé-marron2);
    background-color:var(--clair-peau);
    text-align: center;
    
}

.galerie__prenom{
    font-family: var(--font-zenold);
    font-style: normal;
    font-weight: bold;
    font-size: var(--normal-size);
    line-height: 50%;
    text-align: center;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
}

.galerie__img{
    min-width:60%;
    min-height:60%;
    width:10vh;
    margin-bottom: 4vh;
}

.galerie__separaison{
    min-width:50%;
    min-height:50%;
    width: auto;
    height:auto;
    display: block;
    margin-left: auto;
    width: 30vh;
}

.galerie__texte{
    font-family:var(--font-ptserif);
    font-style: italic;
    font-size: 1rem;
    letter-spacing: 0.4px;
    line-height: var(--line-size);
    margin: 4vh;
}

.last{
    margin-bottom: 8vh;
}