



.header__object {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: -100px;
    width:1200px;
    
    
}

.header__fond {
    height: 300px;
    width: 1200px;
    position: absolute;
    z-index: -4;

}

