
header{
    margin-bottom: 10vh;
}


.header__object {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: -100px;
    width:1400px;
    
    
}

.header__fond {
    height: 300px;
    width: 1400px;
    position: absolute;
    z-index: -4;

}

