.article__title{
    font-family: var(--font-cinzel);
    font-size: var(--normal-size);
    line-height: 181.5%;
    text-align: center;
    color: #FFFFFF;
    background-color: var(--foncé-marron2);
    
}
    
.article__imageintro {
        min-width:70%;
        min-height:70%;
        width:auto;
        height:auto;
        width:50vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.article__intro{
    font-family: var(--font-ptserif);
    margin:3vh;
    font-size: 0.9rem;
    line-height: 1.313rem;
}

.article__subtitle{
    font-family:var(--font-zenold);

    font-size: 1.4rem;
    line-height: 1.75rem;
    text-align: center;
    background-color: var(--clair-cacao);
    margin: 4vh 7vh;
}

.article__texte{
    font-family: var(--font-zenold);
    
    font-size: 1rem;
    line-height: 1.25;
    margin:4vh var(--spacearticle)
    
}

.article__legende{
    font-family: var(--font-ptserif);
    font-size: 0.625rem;
    line-height: 0.813rem;
    text-align: center;
    margin: 2vh var(--spacearticle)
}

.article__image{
    min-width:50%;
    min-height:50%;
    width:auto;
    height:auto;
    padding: 0 5%;
    width:30vh;
    
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.article__frisetitle{
    font-family: var(--font-cinzel);
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    background-color: var(--clair-peau);
    margin: var(--spacearticle);
}

.article__prochainart {
    
    font-family: var(--font-ptserif);
    font-size: 1rem;
    line-height: var(--line-size);
    text-align: right;
    font-style: italic;
    font-weight: normal;

}

.article__prochainfleche{
    text-align: right; 
    margin: var(--spacearticle);
    
}

.article__precedart {
    
    font-family: var(--font-ptserif);
    font-size: 1rem;
    line-height: var(--line-size);
    text-align: left;
    font-style: italic;
    font-weight: normal;
    
}

.article__precedfleche{
    text-align: left; 
    margin: var(--spacearticle);
    
}

.article__doublefleche{
    display: flex;
    justify-content:space-around;
    

}



.article__projet{
    text-align: center;
    background-color: var(--clair-cacao);
    margin-bottom: 4vh;
}

.article__projetquest{
    font-family: var(--font-ptserif);
    font-size:1.1rem;

}
.article__projettexte{
    font-family: var(--font-ptserif);
    font-style: italic;
    font-weight: normal;
    font-size:1rem

}

.article__projetimg{
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    
    width:100vh;
    
    display: block;
    margin-left: auto;
    margin-right: auto 

}




.article__video{
    text-align: center;
    background-color: var(--clair-peau);
    text-decoration: underline;

}

.article__microtrot{
    text-align: center;
}


.article__microvideo{
    width:320px;
    height:240px;
}
    
