/*.intro__separaisong {
    position:absolute;
}

.introart__titre1 {
    position: absolute;
width: 233px;
height: 22px;
left: 73px;
top: 1349px;
font-size: 18px;
line-height: 22px;
font-family: var(--font-cinzel);
}

.introart__img1 {
    position: absolute;
width: 394px;
height: 277px;
left: -7px;
top: 1381px;

filter: drop-shadow(10px 0px 6px rgba(0, 0, 0, 0.25));
}

.introart__tweet1 {
    position: absolute;
width: 325px;
height: 83px;
left: 27px;
top: 1675px;
font-size: 16.25px;
line-height: 19px;
text-align: center;
font-family: var(--font-ptserif);
}

.introart__suite1 {
    position: absolute;
width: 224px;
height: 47.16px;
left: 76px;
top: 1775px;

}



.introart__titre2 {
    position: absolute;
width: 244px;
height: 44px;
left: 66px;
top: 1967px;
font-size: 18px;
line-height: 22px;
text-align: center;
font-family: var(--font-cinzel);

}

.introart__img2 {
    position: absolute;
width: 266px;
height: 311px;
left: 66px;
top: 2012px;



}

.introart__tweet2 {
    position: absolute;
width: 325px;
height: 83px;
left: 25px;
top: 2347px;
font-size: 16.25px;
line-height: 22px;
text-align: center;
text-shadow: 4.33333px 0px 4.33333px rgba(0, 0, 0, 0.25);

}

.introart__suite2 {
    position: absolute;
width: 224px;
height: 47.16px;
left: 76px;
top: 2452px;
}

.introart__article3 {
    display: flex;
}

.footer {
    display: flex;
}

*/

